<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:body>
	<h2>#{msg.change_password}</h2>
	<h:form id="changePassword-form" class="form-group">
		<h:panelGrid>
			<h:message></h:message>

			<h:outputLabel value="#{msg.insert_old_password}" />
			<h:inputSecret value="#{bBChangePassword.oldPassword}"
				id="oldPassword">
			</h:inputSecret>
                
			<h:outputLabel value="#{msg.insert_new_password}" />
			<h:message for="pw"></h:message>
			<h:inputSecret  id="pw" value="#{bBChangePassword.password}">
				<f:validator validatorId="sep16g01.PasswordValidator"></f:validator>
				<f:validator validatorId="sep16g01.PasswordConfirmationValidator"></f:validator>
				<f:attribute name="confirmPassword" value="#{confirmPassword}" />
			</h:inputSecret>
			

			<h:outputLabel value="#{msg.insert_new_password_again}" />
			<h:message for="confirmPassword"></h:message>
			<h:inputSecret id="confirmPassword"
				value="#{bBChangePassword.passwordRepeat}" binding="#{confirmPassword}">
				<f:validator validatorId="sep16g01.PasswordValidator"></f:validator>
			</h:inputSecret>

		</h:panelGrid>
	</h:form>

</h:body>
</html>