<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>
	<h:outputStylesheet library="css" name="groups.css" />

	<ui:define class="content" name="content">
		<h:form id="resetForm">
			<h:outputText value="#{msg.forgot_field}"></h:outputText>
			<h:inputText id="email" value="#{bBForgotPassword.email}">
			</h:inputText>
			<h:commandButton class="btn btn-primary" id="sendResetEmail"
				value="#{msg.sendResetEmail}"
				action="#{bBForgotPassword.sendPasswordResetEmail}"></h:commandButton>
			<ui:insert name="help">
				<ui:include src="/view/general/help.xhtml" />
			</ui:insert>
		</h:form>
	</ui:define>
</ui:composition>
</html>
