<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>
	<h:outputStylesheet library="css" name="groups.css" />

	<ui:define class="content" name="content">
		<h:form id="resetForm">
			<h:outputLabel value="#{msg.insert_new_password}" />
			<h:inputSecret value="#{bBChangePassword.password}"  id="password">
				<f:validator validatorId="sep16g01.PasswordValidator"></f:validator>
				<f:validator validatorId="sep16g01.PasswordConfirmationValidator"></f:validator>
				<f:attribute name="confirmPassword" value="#{confirmPassword}" />
			</h:inputSecret>
			<h:message for="password" class="message" />
			
			<h:outputLabel value="#{msg.insert_new_password_again}" />
			<h:inputSecret value="#{bBChangePassword.passwordRepeat}"
				binding="#{confirmPassword}" id="password-repeat">
			</h:inputSecret>
			
			<h:commandButton class="btn btn-primary" 
			id="save" value="#{msg.save}"
			action="#{bBChangePassword.save()}"></h:commandButton>
			
			
			<ui:insert name="help">
				<ui:include src="/view/general/help.xhtml" />
			</ui:insert>
		</h:form>
	</ui:define>
</ui:composition>
</html>
