<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputStylesheet name="default-style.css" library="css" />
	<title>#{msg.login}</title>
</h:head>
<h:body>
	<h:messages>
	</h:messages>
	<h:form id="login-form" class="form-group">
		<div class="form-group">
			<label for="password"><h:outputText value="#{msg.username}"></h:outputText></label>
			<h:inputText id="username" value="#{bBLogin.name}"
				class="form-control"></h:inputText>
		</div>
		<div class="form-group">
			<label for="password"><h:outputText value="#{msg.password}"></h:outputText></label>
			<h:inputSecret id="password" value="#{bBLogin.password}"
				class="form-control"></h:inputSecret>
		</div>

		<h:commandButton id="login-button" value="#{msg.login}" action="#{bBLogin.login}"
			class="btn btn-default btn-primary"></h:commandButton>
	</h:form>
	<h:link id="forgot-password" outcome="#{bBLogin.forgotPassword()}">#{msg.forgot_password_link}</h:link>
	<h:outputLink value="/sep16g01/faces/view/auth/register.xhtml">#{msg.register}</h:outputLink>
    
    
    <ui:insert name="help">
        <ui:include src="/view/general/help.xhtml" />
    </ui:insert>
	
</h:body>
</html>