<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h:form id="register-form" class="form-group">
		<h:messages id="messages"/>
			<h:panelGrid>
				<h:outputLabel id="reg-name" value="#{msg.reg_name}" />
				<h:inputText value="#{bBRegister.name}" required="true"
					requiredMessage="Please enter name" id="name">
					<f:validator validatorId="sep16g01.UsernameValidator" />
				</h:inputText>

				<h:outputLabel id="reg-password" value="#{msg.reg_password}" />
				<h:inputSecret value="#{bBRegister.password}" required="true"
					requiredMessage="Please enter password" id="password">
					<f:validator validatorId="sep16g01.PasswordValidator"></f:validator>
					<f:validator validatorId="sep16g01.PasswordConfirmationValidator" />
					<f:attribute name="confirmPassword" value="#{confirmPassword}" />
				</h:inputSecret>

				<h:outputLabel value="#{msg.reg_password_repeat}" required="true"
					requiredMessage="Please enter password" />
				<h:inputSecret id="password-repeat"
					value="#{bBRegister.passwordConfirmation}"
					binding="#{confirmPassword}">
				</h:inputSecret>

				<h:outputLabel id="reg-email" value="#{msg.reg_email}" />
				<h:inputText value="#{bBRegister.email}" required="true"
					requiredMessage="Please enter email" id="email">
					<f:validator validatorId="sep16g01.EmailValidator" />
				</h:inputText>
				
				<ui:fragment rendered="#{not bBRegister.TEST_MODE}">
					<p:captcha label="Captcha" />
				</ui:fragment>

					<h:commandButton id="register" class="btn btn-primary" value="#{msg.reg_submit}"
						type="submit" action="#{bBRegister.register()}" />
				<ui:insert name="help">
					<ui:include src="/view/general/help.xhtml" />
				</ui:insert>

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>