<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">

	<ui:define name="title">Administration Home</ui:define>

	<ui:define name="content">
		<h2>#{msg.administration_home}</h2>
		<hr />
		<a id="log" href="log.xhtml">#{msg.log}</a>
		<br />
		<a href="reportList.xhtml">#{msg.reports}</a>
		<br />
		<a href="systemSettings.xhtml">#{msg.system_settings}</a>

		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
</html>