<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>
	<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{msg.log_title}</ui:define>
	   	
		<ui:define name="content">
			<div id="log-box">
				<h:outputText id="log-text" value="#{bBLog.log}" style="white-space: pre-wrap;"/>
			</div>
			<h:form id="log-form">
				<h:commandButton id="refresh" class="btn btn-primary" value="Refresh" action="#{bBLog.refresh()}"></h:commandButton>
				<h:commandButton id="back" class="btn btn-primary" value="Back to portal" action="/view/administration/administrationHome.xhtml?faces-redirect=true"></h:commandButton>
			</h:form>
		</ui:define>
	</ui:composition>
</html>