<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>
	<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">This is RIP</ui:define>
	   	
		<ui:define name="content">
			<h2>This is page1 content</h2>
		</ui:define>
	</ui:composition>
</html>