<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">Report list</ui:define>

	<ui:define name="content">
		<h2>Reported comments</h2>

		<h:form id = "reports">
			<div id="group-reports">
				<h:dataTable styleClass="table table-striped table-hover table-condensed table-responsive" value="#{bBReportList.reports.paginatedDataModel}" id="report-table" var="rep">
					<h:column>
						<f:facet name="header">#{msg.report_offense}</f:facet>
				    	<h:outputText value="#{rep.reportedComment.content}"></h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.report_accused}</f:facet>
				    	<h:link rendered="#{rep.creator!=null}"
						outcome="#{rep.creator.link}" value="#{rep.creator.name}"></h:link>
						<h:outputLabel rendered="#{rep.creator==null}"
							value="#{msg.deleted_User}" />
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.handled}</f:facet>
				    	#{rep.handled}
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.mark_handled}</f:facet>
						<h:commandButton class="btn btn-primary" id="handled" action="#{bBReportList.markAsHandled()}" value="mark handled" />
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.delete_reported_comment}</f:facet>
						<h:commandButton class="btn btn-primary" id="del-comment" action="#{bBReportList.deleteOffending()}" value="delete comment" />
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.delete_report}</f:facet>
						<h:commandButton class="btn btn-primary" id="del-report" action="#{bBReportList.deleteReport()}" value="delete report" />
					</h:column>
				</h:dataTable>

			</div>
		</h:form>

				<ui:include src="/view/paginator/paginator.xhtml">
					<ui:param name="id" value="reportlist-p" />
					<ui:param name="paginatorSource" value="#{bBReportList.reports}" />
				</ui:include>

	<h:messages></h:messages>
	</ui:define>
</ui:composition>
</html>