<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">System Settings</ui:define>
	<ui:define name="content">
		<h:body>
			<h:form enctype="multipart/form-data" id="form-settings">



				<div>
					<h:outputText value="#{msg.changeLogo}"></h:outputText>
					<h:inputFile class="btn btn-primary" id="logo" value="#{bBSystemSettings.picture}"></h:inputFile>
				</div>
				<div>
					<h:outputText value="#{msg.changeName}"></h:outputText>
					<h:inputText id="name"
						value="#{bBSystemSettings.systemSettings.name}" maxlength="64"></h:inputText>
				</div>


				<div class="col-md-6">
					<h:outputText value="#{msg.changeImprint}"></h:outputText>
					<h:inputTextarea id="agb"
						value="#{bBSystemSettings.systemSettings.imprint}"></h:inputTextarea>
				</div>
				<div class="col-md-6">
					<h:outputText value="#{msg.changeToS}"></h:outputText>
					<h:inputTextarea id="tos"
						value="#{bBSystemSettings.systemSettings.termsOfService}"></h:inputTextarea>
						
				</div>
				
			 <div class="col-md-6">
                    <label for="expires"><h:outputText value="#{msg.fileSizeLimit}:"></h:outputText></label>

                    <h:inputText value="#{bBSystemSettings.fileSizeLimit}"
                        class="form-control" id="lim-fileSize" converterMessage="#{msg.number_only}">
                    </h:inputText>
                </div>				
			
			<div class="col-md-6">
                    <label for="expires"><h:outputText value="#{msg.singleFileSizeLimit}:"></h:outputText></label>

                    <h:inputText value="#{bBSystemSettings.singleFileSizeLimit}"
                        class="form-control" id="lim-singleFileSize" converterMessage="#{msg.number_only}">
                    </h:inputText>
                </div>	

			 <div class="col-md-6">
                    <label for="expires"><h:outputText value="#{msg.expireMaxAnon}:"></h:outputText></label>

                    <h:inputText value="#{bBSystemSettings.limitAnonymous}"
                        class="form-control" id="lim-anon">
                        <f:validator validatorId="sep16g01.TimeSpanValidator"></f:validator>
                    </h:inputText>
                </div>

                <div class="col-md-6">
                    <label for="expires"><h:outputText value="#{msg.expireMaxReg}:"></h:outputText></label>

                    <h:inputText value="#{bBSystemSettings.limitRegistered}"
                        class="form-control" id="lim-reg">
                        <f:validator validatorId="sep16g01.TimeSpanValidator"></f:validator>
                    </h:inputText>
                </div>

                <div class="col-md-6">
                    <label for="expires"><h:outputText value="#{msg.expireMaxMod}:"></h:outputText></label>

                    <h:inputText value="#{bBSystemSettings.limitModerator}"
                        class="form-control" id="lim-mod">
                        <f:validator validatorId="sep16g01.TimeSpanValidator"></f:validator>
                    </h:inputText>
                </div>


                <div class="col-md-6">
                    <label for="expires"><h:outputText value="#{msg.expireMaxAdmin}:"></h:outputText></label>

                    <h:inputText value="#{bBSystemSettings.limitAdmin}"
                        class="form-control" id="lim-admin">
                        <f:validator validatorId="sep16g01.TimeSpanValidator"></f:validator>
                    </h:inputText>
                </div>
                <h:commandButton class="btn btn-primary" id="save-button" value="Save"
                action="#{bBSystemSettings.save()}"></h:commandButton>
			</h:form>
			
			
		</h:body>
	</ui:define>
</ui:composition>
</html>