<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>
	<h:form id="#{id}">
		<h:commandLink id="previous" value="&lt;" action="#{paginatorSource.previous()}" 
			disabled="#{paginatorSource.paginatedDataModel.currentPage == 1}" rendered="#{paginatorSource.paginatedDataModel.currentPage != 1}">
		</h:commandLink>
		<h:commandLink id="first" value="1" action="#{paginatorSource.first()}" 
			rendered="#{paginatorSource.paginatedDataModel.currentPage != 1}">
		</h:commandLink>
		<h:commandLink id="twobefore" value="#{paginatorSource.paginatedDataModel.displayPageTwoBefore}" action="#{paginatorSource.twoBefore()}"
		 	rendered="#{not empty paginatorSource.paginatedDataModel.displayPageTwoBefore}">
	 	</h:commandLink>
		<h:commandLink id="onebefore" value="#{paginatorSource.paginatedDataModel.displayPageOneBefore}" action="#{paginatorSource.oneBefore()}"
		 	rendered="#{not empty paginatorSource.paginatedDataModel.displayPageOneBefore}">
	 	</h:commandLink>
		<h:commandLink id="current" value="#{paginatorSource.paginatedDataModel.currentPage}" disabled="true" rendered="#{paginatorSource.paginatedDataModel.currentPage != 1 or paginatorSource.paginatedDataModel.currentPage != paginatorSource.paginatedDataModel.lastPage}">
		</h:commandLink>
		<h:commandLink id="oneafter" value="#{paginatorSource.paginatedDataModel.displayPageOneAfter}" action="#{paginatorSource.oneAfter()}"
		 	rendered="#{not empty paginatorSource.paginatedDataModel.displayPageOneAfter}">
	 	</h:commandLink>
		<h:commandLink id="twoafter" value="#{paginatorSource.paginatedDataModel.displayPageTwoAfter}" action="#{paginatorSource.twoAfter()}"
			rendered="#{not empty paginatorSource.paginatedDataModel.displayPageTwoAfter}">
		</h:commandLink>
		<h:commandLink id="last" value="#{paginatorSource.paginatedDataModel.displayPageLast}" action="#{paginatorSource.last()}" 
			rendered="#{paginatorSource.paginatedDataModel.currentPage != paginatorSource.paginatedDataModel.lastPage}">
		</h:commandLink>
		<h:commandLink id="next" value="&gt;" action="#{paginatorSource.next()}" 
			disabled="#{paginatorSource.paginatedDataModel.currentPage == paginatorSource.paginatedDataModel.lastPage}" rendered="#{paginatorSource.paginatedDataModel.currentPage != paginatorSource.paginatedDataModel.lastPage}"></h:commandLink>
	</h:form>
</html>