<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">

	<ui:define name="title">#{msg.clipboard}</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:viewParam name="clipboardid" />
		</f:metadata>

		<h:form id="form-clip-ctrl">

			<h:commandButton id="invite" value="#{msg.inviteread}"
				class="btn btn-primary" action="#{bBClipboard.inviteRead()}"
				disabled="#{!bBClipboard.checkRead()}"></h:commandButton>
			<h:commandButton id="invitewrite" value="#{msg.invitewrite}"
				class="btn btn-primary" action="#{bBClipboard.inviteWrite()}"
				disabled="#{!bBClipboard.checkWrite()}"></h:commandButton>


			<h:commandButton class="btn btn-primary" id="bookmark"
				value="bookmark" action="#{bBClipboard.bookmark()}"
				rendered="#{!bBClipboard.isBookmarked() and userData.isLoggedIn()}"></h:commandButton>
			<h:commandButton class="btn btn-primary" id="unbookmark"
				value="unbookmark" action="#{bBClipboard.bookmark()}"
				rendered="#{bBClipboard.isBookmarked() and userData.isLoggedIn()}"></h:commandButton>

			<div id="group-content">

				<div class="row">
					<div class="col-md-4">
						<h1>
							<h:outputLabel>#{msg.title}: </h:outputLabel>
						</h1>
					</div>
					<div class="col-md-6">
						<h1>
							<h:outputText value="#{bBClipboard.clipboard.title}"></h:outputText>
						</h1>
					</div>
					<div class="col-md-2">
						<h4 class="text-right">
							#{msg.createdby}
							<h:link value="#{bBClipboard.clipboard.creator.name}"
								outcome="#{bBClipboard.clipboard.creator.link}"></h:link>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h:outputLabel>#{msg.description}: </h:outputLabel>
					</div>
					<div class="col-md-8">
						<p>
							<h:outputText value="#{bBClipboard.clipboard.description}"></h:outputText>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<h:outputLabel>#{msg.expires}: </h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText value="#{bBClipboard.clipboard.expirationDate}">
						</h:outputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h:outputLabel>#{msg.perm_read}: </h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText
							value="#{bBClipboard.clipboard.visibilityRead.getName()}"></h:outputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h:outputLabel>#{msg.perm_write}: </h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText
							value="#{bBClipboard.clipboard.visibilityWrite.getName()}"></h:outputText>
					</div>
				</div>


				<h:commandButton id="edit" value="#{msg.edit}"
					class="btn btn-primary" action="#{bBClipboard.edit()}"
					disabled="#{!bBClipboard.checkWrite()}"></h:commandButton>
				<h:commandButton id="delete" value="#{msg.delete}"
					class="btn btn-primary" action="#{bBClipboard.delete(false)}"
					disabled="#{!bBClipboard.checkWrite()}"
					rendered="#{!bBClipboard.deleteConfirm}"></h:commandButton>

				<h:commandButton id="delete-confirm"
					value="#{msg.clipboard_delete_confirm_button}"
					class="btn btn-primary" action="#{bBClipboard.delete(true)}"
					disabled="#{!bBClipboard.checkWrite()}"
					rendered="#{bBClipboard.deleteConfirm}"></h:commandButton>
				<HR />
				<h3>
					<h:outputLabel value="#{msg.pastes}"></h:outputLabel>
				</h3>
				<div id="group-pagination">
					<div id="group-clipboards">
						<h:dataTable
							styleClass="table table-striped table-hover table-condensed table-responsive"
							id="paste-table" value="#{bBClipboard.pastes.paginatedDataModel}"
							var="paste">
							<h:column>
								<f:facet name="header">#{msg.titel} </f:facet>
								<h:link id="paste-link" outcome="#{paste.link}"
									value="#{paste.title}"></h:link>
							</h:column>
							<h:column>
								<f:facet name="header">#{msg.description} </f:facet>
				    	#{paste.description}
					</h:column>
							<h:column>
								<f:facet name="header">#{msg.creator} </f:facet>
								<h:link value="#{paste.creator.name}"
									outcome="#{paste.creator.link}"></h:link>
							</h:column>
							<h:column>
								<f:facet name="header">#{msg.exp_date} </f:facet>
								<h:outputText value="#{paste.expirationDate}">
								</h:outputText>

							</h:column>
						</h:dataTable>

						<ui:include src="/view/paginator/paginator.xhtml">
							<ui:param name="id" value="clip-p" />
							<ui:param name="paginatorSource" value="#{bBClipboard.pastes}" />
						</ui:include>
					</div>
				</div>

				<h:commandButton id="newpaste" value="#{msg.newpaste}"
					class="btn btn-primary" action="#{bBClipboard.newPaste()}"
					disabled="#{!bBClipboard.checkWrite()}"></h:commandButton>
			</div>
		</h:form>
						<HR />

				<ui:insert name="commentList">
					<ui:include src="/view/comment/commentList.xhtml" />
				</ui:insert>

				<HR />

				<ui:insert name="help">
					<ui:include src="/view/general/help.xhtml" />
				</ui:insert>
	</ui:define>
</ui:composition>
</html>