<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/view/general/layout.xhtml">

	<ui:define name="title">#{msg.create_new_clip_title}</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:viewParam name="clipboardid" />
			<f:viewParam name="groupid" />
		</f:metadata>
		
		<ui:fragment rendered="#{bBCreateClipboard.clipboard.id == -1}">
			<h2>#{msg.create_new_clip}</h2>
		</ui:fragment>
		<ui:fragment rendered="#{bBCreateClipboard.clipboard.id != -1}">
			<h2>#{msg.edit_clip}</h2>
		</ui:fragment>
		<h:messages>
		</h:messages>
		<h:form id="clipboard-form">
			<input type="hidden" name="#{systemSettings.getClipboardid()}"
				value="#{bBCreateClipboard.clipboardId}" />

			<div id="group-content" class="form-group">
				<div class="row">
					<ui:fragment
						rendered="#{bBCreateClipboard.clipboard.creator.id eq bBCreateClipboard.userData.user.id}">
						<div class="col-md-2">
							<h:outputLabel class="checkbox-label" value="#{msg.paste_notify}"
								for="checkbox" />
						</div>
						<div class="col-md-10">
							<h:selectBooleanCheckbox
								value="#{bBCreateClipboard.clipboard.notify}" class="checkbox"
								id="checkbox" />
						</div>
					</ui:fragment>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="password"><h:outputText
								value="#{msg.creator}:"></h:outputText></label>
					</div>
					<div class="col-md-10">
						<h:inputText value="#{bBCreateClipboard.clipboard.creator.name}"
							class="form-control" disabled="true"></h:inputText>
					</div>

				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="title"><h:outputText value="#{msg.title}:"></h:outputText></label>
					</div>
					<div class="col-md-10">
						<h:inputText required="true" id="title-input"
							value="#{bBCreateClipboard.clipboard.title}" class="form-control"></h:inputText>
					</div>

				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="group"><h:outputText value="#{msg.group}:"></h:outputText></label>
					</div>
					<div class="col-md-10">
						<h:inputText id="group-input" value="#{bBCreateClipboard.group}"
							class="form-control"></h:inputText>
					</div>

				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="desc"><h:outputText
								value="#{msg.description}:"></h:outputText></label>
					</div>
					<div class="col-md-10">
						<h:inputText id="description-input"
							value="#{bBCreateClipboard.clipboard.description}"
							required="true" requiredMessage="Enter a descritption"
							class="form-control"></h:inputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="expires"><h:outputText value="#{msg.expires}:"></h:outputText></label>
					</div>
					<div class="col-md-10">
						<h:inputText value="#{bBCreateClipboard.expirestring}"
							class="form-control" id="timespan">
							<f:validator validatorId="sep16g01.TimeSpanValidator"></f:validator>
						</h:inputText>
						<div>#{msg.timespan_example}</div>
						<h:message for="timespan" class="message" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="visibread"><h:outputText
								value="#{msg.vis_read}:"></h:outputText></label>
					</div>
					<div class="col-md-4">

						<h:selectOneMenu id="visibility-read" class="form-control"
							value="#{bBCreateClipboard.read}" onchange="this.form.submit()">
							<f:selectItems value="#{bBCreateClipboard.getVisibilities()}"
								var="element" itemLabel="#{element.name}" itemValue="#{element}"></f:selectItems>
						</h:selectOneMenu>
					</div>
					<div class="col-md-6">
						<h:commandButton class="btn btn-primary"
							rendered="#{bBCreateClipboard.clipboard.visibilityRead eq 'CUSTOM'}"
							id="add-permissions-read" value="#{msg.add_read}"
							action="#{bBCreateClipboard.addPermissions('READ')}"></h:commandButton>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="viswrite"><h:outputText
								value="#{msg.vis_write}:"></h:outputText></label>
					</div>
					<div class="col-md-4">
						<h:selectOneMenu id="visibility-write" class="form-control"
							value="#{bBCreateClipboard.write}" onchange="this.form.submit()">
							<f:selectItems value="#{bBCreateClipboard.getVisibilities()}"
								var="element" itemLabel="#{element.name}" itemValue="#{element}"></f:selectItems>
						</h:selectOneMenu>
					</div>
					<div class="col-md-6">
						<h:commandButton class="btn btn-primary"
							rendered="#{bBCreateClipboard.clipboard.visibilityWrite eq 'CUSTOM'}"
							id="add-permissions-write" value="#{msg.add_write}"
							action="#{bBCreateClipboard.addPermissions('WRITE')}"></h:commandButton>
					</div>
				</div>
				<ui:fragment
					rendered="#{not bBRegister.TEST_MODE and not bBCreateClipboard.userData.isLoggedIn()}">
					<p:captcha label="Captcha" />
				</ui:fragment>

				<h:commandButton class="btn btn-primary" id="save"
					value="#{msg.save}" action="#{bBCreateClipboard.save()}"></h:commandButton>

				<HR />

				<ui:insert name="help">
					<ui:include src="/view/general/help.xhtml" />
				</ui:insert>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>