<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h:form id="invite-form">
			<h:panelGrid>
				<h:outputLabel id="invite-to" value="#{msg.invite_recipients}" />
				<h:inputTextarea class="invite-area-rec" id="invite-to-in"
					value="#{bBInvite.invite}" />
				<h:outputLabel id="invite-title" value="#{msg.invite_title}" />
				<h:inputText id="invite-title-in" value="#{bBInvite.email.subject}" />
				<h:outputLabel id="invite-message" value="#{msg.invite_message}" />
				<h:inputTextarea class="invite-area-msg" id="invite-message-in"
					value="#{bBInvite.email.content}" />
				<h:outputText rendered="#{bBInvite.email == null}" value="#{msg.invalid_invite}"></h:outputText>
				<h:commandButton rendered="#{bBInvite.email != null}" id="submit" class="btn btn-primary" value="Submit"
					type="submit" action="#{bBInvite.invite()}" />
			</h:panelGrid>
		</h:form>
		
		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
</html>