<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">ManagePermissions</ui:define>

	<ui:define name="content">
		<h:form id="perm-form">
			<div class="row">
				<div class="col-md-4">
					<h:outputLabel for="usernamesToAdd">#{msg.permission_name_add}</h:outputLabel>
				</div>
				<div class="col-md-8">
					<h:outputLabel for="usersWithPermission">#{msg.permission_users_with_perm}</h:outputLabel>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h:inputTextarea id="usernamesToAdd"
						value="#{bBManagePermissions.usernamesToAddString}"
						rows="#{bBManagePermissions.usernamesToAdd.size()}"></h:inputTextarea>
				</div>
				<div class="col-md-4">
					<h:selectManyListbox id="usersWithPermission"
						value="#{bBManagePermissions.usersWithPermissionArray}">
						<f:selectItems value="#{bBManagePermissions.usersWithPermission}" />
					</h:selectManyListbox>
				</div>
				<div class="col-md-4">
					<h:commandButton class="btn btn-primary" id="addUsers"
						value="#{msg.addUsers}"
						actionListener="#{bBManagePermissions.addUsers}">
						<f:param name="#{systemSettings.getClipboardid()}"
							value="#{bBManagePermissions.clipboardId}" />
						<f:param name="#{systemSettings.getGroupid()}"
							value="#{bBManagePermissions.groupId}" />
						<f:param name="#{systemSettings.getAccessid()}"
							value="#{bBManagePermissions.access.priority}" />
					</h:commandButton>
					<h:commandButton class="btn btn-primary" id="removeUsers"
						value="#{msg.removeUsers}"
						actionListener="#{bBManagePermissions.removeUsers}">
						<f:param name="#{systemSettings.getClipboardid()}"
							value="#{bBManagePermissions.clipboardId}" />
						<f:param name="#{systemSettings.getGroupid()}"
							value="#{bBManagePermissions.groupId}" />
						<f:param name="#{systemSettings.getAccessid()}"
							value="#{bBManagePermissions.access.priority}" />
					</h:commandButton>
				</div>
			</div>
			<br />

			<HR />

			<h:panelGroup
				rendered="#{bBManagePermissions.permissibleType == 'CLIPBOARD'}">

				<div class="row">
					<div class="col-md-4">
						<h:outputLabel for="groupsToAdd">#{msg.permission_groups_to_add}:</h:outputLabel>
					</div>
					<div class="col-md-8">
						<h:outputLabel for="groupsWithPermission">#{msg.groups_with_permission}</h:outputLabel>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h:inputTextarea id="groupsToAdd"
							value="#{bBManagePermissions.groupsToAddString}"></h:inputTextarea>
					</div>
					<div class="col-md-4">
						<h:selectManyListbox id="groupsWithPermission"
							value="#{bBManagePermissions.groupsWithPermissionArray}">
							<f:selectItems
								value="#{bBManagePermissions.groupsWithPermission}" />
						</h:selectManyListbox>
					</div>
					<div class="col-md-4">
						<h:commandButton class="btn btn-primary" id="addGroups"
							value="#{msg.addGroups}"
							actionListener="#{bBManagePermissions.addGroups}">
							<f:param name="#{systemSettings.getClipboardid()}"
								value="#{bBManagePermissions.clipboardId}" />
							<f:param name="#{systemSettings.getGroupid()}"
								value="#{bBManagePermissions.groupId}" />
							<f:param name="#{systemSettings.getAccessid()}"
								value="#{bBManagePermissions.access.priority}" />
						</h:commandButton>
						<h:commandButton class="btn btn-primary" id="removeGroups"
							value="#{msg.removeGroups}"
							actionListener="#{bBManagePermissions.removeGroups}">
							<f:param name="#{systemSettings.getClipboardid()}"
								value="#{bBManagePermissions.clipboardId}" />
							<f:param name="#{systemSettings.getGroupid()}"
								value="#{bBManagePermissions.groupId}" />
							<f:param name="#{systemSettings.getAccessid()}"
								value="#{bBManagePermissions.access.priority}" />
						</h:commandButton>
					</div>
				</div>
			</h:panelGroup>
			<br />
			<h:commandButton class="btn btn-primary" id="save"
				value="#{msg.save}" action="#{bBManagePermissions.save}">
				<f:param name="#{systemSettings.getClipboardid()}"
					value="#{bBManagePermissions.clipboardId}" />
				<f:param name="#{systemSettings.getGroupid()}"
					value="#{bBManagePermissions.groupId}" />
				<f:param name="#{systemSettings.getAccessid()}"
					value="#{bBManagePermissions.access.priority}" />
			</h:commandButton>
		</h:form>

		<HR />
		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
</html>