<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">

		<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h:messages>
		</h:messages>
		<h:form id = "creategroup-form">
			<input type="hidden" name="#{systemSettings.getGroupid()}"
				value="#{bBCreateGroup.groupId}" />
			<div id="group-content" class="form-group">
				
				<div class="row">
					<div class="col-md-2">
						<h:outputLabel>#{msg.group_title}</h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:inputText id="group-name" class="form-control width"
							value="#{bBCreateGroup.group.title}"></h:inputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h:outputLabel>#{msg.description}: </h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:inputText class="form-control width"
							value="#{bBCreateGroup.group.description}"></h:inputText>
					</div>
				</div>
				
				<div id="group-read" class="row">
					<div class="col-md-2">
						<h:outputText value="#{msg.group_read_access}"></h:outputText>
					</div>
					<div class="col-md-4">
						<h:selectOneMenu id="select-read" class="form-control width" value="#{bBCreateGroup.read}"
							onchange="this.form.submit()">
							<f:selectItems value="#{bBCreateGroup.getVisibilities()}"
								var="element" itemLabel="#{element.getName()}"
								itemValue="#{element}"></f:selectItems>
						</h:selectOneMenu>
					</div>
					<div class="col-md-6">
						<h:commandButton class="btn btn-primary"
							rendered="#{bBCreateGroup.group.visibilityRead eq 'CUSTOM'}"
							id="add-permissions-read" value="#{msg.add_read}"
							action="#{bBCreateGroup.addPermissions('READ')}"></h:commandButton>
					</div>
				</div>

				<div id="group-write" class="row">
					<div class="col-md-2">
						<h:outputText value="#{msg.group_write_access}"></h:outputText>
					</div>
					<div class="col-md-4">
						<h:selectOneMenu id="select-write" class="form-control width" value="#{bBCreateGroup.write}"
							onchange="this.form.submit()">
							<f:selectItems value="#{bBCreateGroup.getVisibilities()}"
								var="element" itemLabel="#{element.getName()}"
								itemValue="#{element}"></f:selectItems>
						</h:selectOneMenu>
					</div>
					<div class="col-md-6">
						<h:commandButton class="btn btn-primary"
							rendered="#{bBCreateGroup.group.visibilityWrite eq 'CUSTOM'}"
							id="add-permissions-write" value="#{msg.add_write}"
							action="#{bBCreateGroup.addPermissions('WRITE')}"></h:commandButton>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-1">
					<h:commandButton class="btn btn-primary" id="save" value="Save"
						action="#{bBCreateGroup.save}"></h:commandButton>
				</div>
				<div class="col-md-1">
					<h:commandButton class="btn btn-primary" id="cancel" value="Cancel"
		                action="#{bBCreateGroup.cancel}"></h:commandButton>
				</div>
				<div class="col-md-1">
					<ui:insert name="help">
						<ui:include src="/view/general/help.xhtml" />
					</ui:insert>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>