<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">

	<ui:define name="title">#{bBTitle.title}</ui:define>
	<h:outputStylesheet library="css" name="groups.css" />

	<ui:define class="content" name="content">
		<div id="group-content">
			<div class="row">
				<div class="col-md-2">
					<h3>
						<h:outputLabel id="group-title-label">#{msg.group_title}</h:outputLabel>
					</h3>
				</div>
				<div class="col-md-10">
					<h3>
						<h:outputText id="group-title" value="#{bBGroup.group.title}"></h:outputText>
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<h3>
						<h:outputLabel id="group-description-label">#{msg.group_description}</h:outputLabel>
					</h3>
				</div>
				<div class="col-md-10">
					<h3>
						<h:outputText id="group-description"
							value="#{bBGroup.group.description}"></h:outputText>
					</h3>
				</div>
			</div>
		</div>
		<hr />


		<div id="group-pagination">
			<ui:fragment
				rendered="#{bBGroup.clipboards.paginatedDataModel.countResults gt 0}">
				<div id="group-clipboards">
					<h1>#{msg.group_clipboards}</h1>
					<h:dataTable
						styleClass="table table-striped table-hover table-condensed table-responsive"
						value="#{bBGroup.clipboards.paginatedDataModel}" var="clipboard">
						<h:column>
							<f:facet name="header">#{msg.titel}</f:facet>
							<h:link outcome="#{clipboard.link}" value="#{clipboard.title}"></h:link>
						</h:column>
						<h:column>
							<f:facet name="header">#{msg.description}</f:facet>
				    	#{clipboard.description}
					</h:column>
						<h:column>
							<f:facet name="header">#{msg.creator}</f:facet>
							<h:link outcome="#{clipboard.creator.link}"
								value="#{clipboard.creator.name}"></h:link>
						</h:column>
						<h:column>
							<f:facet name="header">#{msg.creation_date}</f:facet>
							<h:outputText value="#{clipboard.creationDate}">
							</h:outputText>
						</h:column>

					</h:dataTable>

					<ui:include src="/view/paginator/paginator.xhtml">
						<ui:param name="id" value="group-clip-p" />
						<ui:param name="paginatorSource" value="#{bBGroup.clipboards}" />
					</ui:include>
				</div>
			</ui:fragment>

			<ui:fragment
				rendered="#{bBGroup.members.paginatedDataModel.countResults gt 0}">
				<div id="group-members">
					<h1>#{msg.group_members}</h1>
					<h:dataTable
						styleClass="table table-striped table-hover table-condensed table-responsive"
						id="member-table" value="#{bBGroup.members.paginatedDataModel}"
						var="member">
						<h:column>
							<f:facet name="header">#{msg.name}</f:facet>
							<h:link outcome="#{member.link}" value="#{member.name}"></h:link>
						</h:column>
						<h:column>
							<h:form id="remove-form">
								<h:commandButton class="btn btn-primary"
									rendered="#{bBGroup.userData.user.role.getPriority() gt 2 and not bBGroup.letRemove}"
									id="group-remove" value="#{msg.group_remove}"
									action="#{bBGroup.deleteUser(member, false)}"></h:commandButton>
								<h:commandButton class="btn btn-primary"
									rendered="#{bBGroup.userData.user.role.getPriority() gt 2 and bBGroup.letRemove}"
									id="group-remove-confirm" value="#{msg.group_remove_confirm}"
									action="#{bBGroup.deleteUser(member, true)}"></h:commandButton>
							</h:form>
						</h:column>
					</h:dataTable>

					<ui:include src="/view/paginator/paginator.xhtml">
						<ui:param name="id" value="group-member-p" />
						<ui:param name="paginatorSource" value="#{bBGroup.members}" />
					</ui:include>
				</div>
			</ui:fragment>

			<div id="group-misc">
				<h:form id="group-form">
					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.checkWrite() and not bBGroup.isMember()}"
						id="group-join" value="#{msg.group_join}" action="#{bBGroup.join}"></h:commandButton>
					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.checkWrite()}" id="group-edit"
						value="#{msg.group_edit}" action="#{bBGroup.edit}"></h:commandButton>

					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.isMember() and not bBGroup.deleteConfirmLeave}"
						id="group-leave" value="#{msg.group_leave}"
						action="#{bBGroup.leave(false)}"></h:commandButton>

					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.isMember() and bBGroup.deleteConfirmLeave}"
						id="group-leave-confirm" value="#{msg.group_leave_confirm}"
						action="#{bBGroup.leave(true)}"></h:commandButton>


					<h:commandButton class="btn btn-primary"
						rendered="#{not bBGroup.deleteConfirmGroup}" id="group-delete"
						value="#{msg.group_delete}" action="#{bBGroup.delete(false)}"></h:commandButton>

					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.deleteConfirmGroup}" id="group-delete-confirm"
						value="#{msg.group_delete_confirm}"
						action="#{bBGroup.delete(true)}"></h:commandButton>

					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.checkWrite()}" id="group-invite-write"
						value="#{msg.group_invite_write}"
						action="#{bBGroup.inviteWrite()}"></h:commandButton>
					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.checkWrite()}" id="group-invite-read"
						value="#{msg.group_invite_read}" action="#{bBGroup.inviteRead()}"></h:commandButton>
					<h:commandButton class="btn btn-primary"
						rendered="#{bBGroup.checkWrite()}" id="group-create-clipboard"
						value="#{msg.group_create_clipboard}"
						action="#{bBGroup.createClipboard()}"></h:commandButton>
				</h:form>
			</div>
		</div>
		<hr />

		<ui:insert name="comments">
			<ui:include src="/view/comment/commentList.xhtml" />
		</ui:insert>

		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>

	</ui:define>
</ui:composition>
</html>