<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head />
<body>
	<ui:fragment
		rendered="#{bBCommentList.comments.paginatedDataModel.countResults gt 0}">
		<h:form id="comment-list">
			<h:outputLabel value="#{msg.comments}"></h:outputLabel>


			<h:dataTable id="comment-table"
				value="#{bBCommentList.comments.paginatedDataModel}" var="comment"
				styleClass="table table-striped table-hover table-condensed table-responsive">
				<h:column>
					<f:facet name="header">#{msg.creator}</f:facet>
					<h:link rendered="#{comment.creator!=null}"
						outcome="#{comment.creator.link}" value="#{comment.creator.name}"></h:link>
					<h:outputLabel rendered="#{comment.creator==null}"
						value="#{msg.deleted_User}" />
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.content}</f:facet>
                    #{comment.content}
                  </h:column>
				<h:column>
					<f:facet name="header">#{msg.date}</f:facet>
					<h:outputText value="#{comment.creationDate}">
					</h:outputText>

				</h:column>
				<h:column>
					<f:facet name="header">#{msg.report}</f:facet>
					<h:commandButton id="report-comment"
						action="#{bBCommentList.report()}"
						rendered="#{!bBCommentList.alreadyReported(comment.id)}"
						value="#{msg.report}" />
					<h:outputLabel
						rendered="#{bBCommentList.alreadyReported(comment.id)}"
						value="#{msg.already_reported}" />
				</h:column>
			</h:dataTable>
		</h:form>

		<ui:include src="/view/paginator/paginator.xhtml">
			<ui:param name="id" value="commentlist-p" />
			<ui:param name="paginatorSource" value="#{bBCommentList.comments}" />
		</ui:include>
	</ui:fragment>

	<ui:insert name="createComment">
		<ui:include src="/view/comment/createComment.xhtml" />
	</ui:insert>



</body>
</html>