<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<h:form id="create-comment">
		<h:outputLabel value="#{msg.enter_comment}" />
		<div class="row">
			<div class="col-md-10">
				<h:inputTextarea id="comment-text"
					value="#{bBCreateComment.comment.content}" required="true"
					requiredMessage="#{msg.comment_not_empty}" />
			</div>
			<div class="col-md-2">
				<h:commandButton id="save-comment" class="btn btn-primary pull-right"
					value="#{msg.send_comment}" action="#{bBCreateComment.save()}" />
			</div>
		</div>
	</h:form>
</h:body>
</html>