<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>
	<ui:composition>
		<h:form id="search-form" class="form-inline">
		<div class="form-inline">
		    <h:inputText id="query" value="#{bBSearch.query}" class="form-control"></h:inputText>		    
		    <h:selectOneMenu id="search-drop" value="#{bBSearch.systemElementSearch}" class="form-control">
		    	<f:selectItems value="#{bBSearch.getAll()}" var="element" itemValue="#{element}" itemLabel="#{element.getName()}"></f:selectItems>
		    	#{element}
		    </h:selectOneMenu>
		    <h:commandButton class="btn btn-primary" id="search" value="#{msg.search}" action="#{bBSearch.search}"></h:commandButton>
		    </div>
		</h:form>
	</ui:composition>
</html>