<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		>
	<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{msg.search_result_list}</ui:define>
	   	
		<ui:define name="content">
		
		<div id="search-pagination">
		
			<ui:fragment rendered="#{bBSearchResultList.resultClipboard.paginatedDataModel.countResults gt 0}" >
			<div id="search-clipboards">
				<h3>#{msg.search_clipboards}</h3>
				<h:dataTable value="#{bBSearchResultList.resultClipboard.paginatedDataModel}" var="clipboard" styleClass="table table-striped table-hover table-condensed table-responsive">
					<h:column>
				    	<f:facet name="header">#{msg.title}</f:facet>
						<h:link outcome="#{clipboard.link}" value="#{clipboard.title}"></h:link>
					</h:column>
					<h:column>
				    	<f:facet name="header">#{msg.description}</f:facet>
				    	#{clipboard.description}
					</h:column>
					
					<h:column>
				    	<f:facet name="header">#{msg.creator}</f:facet>
						<h:link rendered="#{clipboard.creator!=null}" outcome="#{clipboard.creator.link}" value="#{clipboard.creator.name}"></h:link>
						<h:outputLabel rendered="#{clipboard.creator==null}"
							value="#{msg.deleted_User}" />
					</h:column>
					
					<h:column>
				    	<f:facet name="header">#{msg.creation_date}</f:facet>
				    	#{clipboard.creationDate}
					</h:column>
					<h:column>
				    	<f:facet name="header">#{msg.visibility}</f:facet>
				    	#{clipboard.visibilityRead.name}
					</h:column>
				</h:dataTable>
				
				<ui:include src="/view/paginator/paginator.xhtml">
					<ui:param name="id" value="search-clip-p" />
	    			<ui:param name="paginatorSource" value="#{bBSearchResultList.resultClipboard}" />
	    		</ui:include>
	    	</div>
	    	</ui:fragment>
	    	
			<ui:fragment rendered="#{bBSearchResultList.resultGroup.paginatedDataModel.countResults gt 0}" >
	    	<div id="search-groups">
	    		<h3>#{msg.search_groups}</h3>
				<h:dataTable value="#{bBSearchResultList.resultGroup.paginatedDataModel}" var="group" styleClass="table table-striped table-hover table-condensed table-responsive">
					<h:column>
						<f:facet name="header">#{msg.title}</f:facet>
						<h:link outcome="#{group.link}" value="#{group.title}"></h:link>
					</h:column>
					
					<h:column>
				    	<f:facet name="header">#{msg.visibility}</f:facet>
				    	#{group.visibilityRead.name}
					</h:column>
				</h:dataTable>
				
				<ui:include src="/view/paginator/paginator.xhtml">
					<ui:param name="id" value="search-group-p" />
	    			<ui:param name="paginatorSource" value="#{bBSearchResultList.resultGroup}" />
	    		</ui:include>
	    	</div>
	    	</ui:fragment>  	
	    	
	    	<ui:fragment rendered="#{bBSearchResultList.resultUser.paginatedDataModel.countResults gt 0}" >
	    	<div id="search-user">
	    		<h3>#{msg.search_users}</h3>
				<h:dataTable value="#{bBSearchResultList.resultUser.paginatedDataModel}" var="user" styleClass="table table-striped table-hover table-condensed">
					<h:column>
						<f:facet name="header">#{msg.title}</f:facet>
						<h:link rendered="#{user!=null}" outcome="#{user.link}" value="#{user.name}"></h:link>
						<h:outputLabel rendered="#{user==null}"
							value="#{msg.deleted_User}" />
					</h:column>
				</h:dataTable>
				
				<ui:include src="/view/paginator/paginator.xhtml">
					<ui:param name="id" value="search-user-p" />
	    			<ui:param name="paginatorSource" value="#{bBSearchResultList.resultUser}" />
	    		</ui:include>
	    	</div>
	    	</ui:fragment>
	    	
	    	<ui:fragment rendered="#{bBSearchResultList.resultPaste.paginatedDataModel.countResults gt 0}" >
	    	<div id="search-paste">
	    		<h3>#{msg.search_pastes}</h3>
				<h:dataTable value="#{bBSearchResultList.resultPaste.paginatedDataModel}" var="paste" styleClass="table table-striped table-hover table-condensed table-responsive">
					<h:column>
						<f:facet name="header">#{msg.title}</f:facet>
						<h:link outcome="#{paste.link}" value="#{paste.title}"></h:link>
					</h:column>
					<h:column>
				    	<f:facet name="header">#{msg.description}</f:facet>
				    	#{paste.description}
					</h:column>
					<h:column>
				    	<f:facet name="header">#{msg.creator}</f:facet>
						<h:link rendered="#{paste.creator!=null}" outcome="#{paste.creator.link}" value="#{paste.creator.name}"></h:link>
						<h:outputLabel rendered="#{paste.creator==null}"
							value="#{msg.deleted_User}" />
					</h:column>
					<h:column>
				    	<f:facet name="header">#{msg.creation_date}</f:facet>
				    	#{paste.creationDate}
					</h:column>
			
				</h:dataTable>
				
				<ui:include src="/view/paginator/paginator.xhtml">
					<ui:param name="id" value="search-paste-p" />
	    			<ui:param name="paginatorSource" value="#{bBSearchResultList.resultPaste}" />
	    		</ui:include>
	    	</div>
	    	</ui:fragment>
	    </div>
		</ui:define>
	</ui:composition>
</html>