<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h:form id="confirmation-form">
			<h:panelGrid>
				<h:outputLabel value="#{bBConfirmation.warning}" />
				<h:outputLabel value="#{msg.confirm_pw}" />
				<h:inputSecret id="password" value="#{bBConfirmation.password}" />
				<h:commandButton id="confirm" class="btn btn-primary"
					value="#{msg.perform_deletion}"
					action="#{bBConfirmation.performDeletion()}" />
			</h:panelGrid>
		</h:form>

		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
</html>