<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>
	<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{bBTitle.title}</ui:define>
		
		<ui:define name="content">
			<h:form id="confirmForm">
				<h:outputText id="confirm-success" rendered="#{bBEmailConfirm.validToken}" value="#{msg.confirm_success}"></h:outputText>
				<h:outputText id="confirm-failure" rendered="#{not bBEmailConfirm.validToken}" value="#{msg.confirm_failure}"></h:outputText>
				<h:message for="confirmText"/>
			</h:form>
		</ui:define>
	</ui:composition>
</html>