<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        >
     <h:outputLabel value="#{msg.not_existing_link_error}"/>  
    <ui:composition template="/view/general/layout.xhtml">
    <h:outputText value="#{msg.not_existing_link_error}"/> 
    This link does not exist.
        
        <ui:define name="content">
            <h:outputText value="#{msg.not_existing_link_error}"/> 
        </ui:define>
    </ui:composition>
</html>