<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        >
    <ui:composition template="/view/general/layout.xhtml">
    You don't have the permissions to enter this page. 
        <ui:define name="content">
        
            <h:outputLabel value="#{msg.no_permission_error}"/> 
        </ui:define>
    </ui:composition>
</html>