<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>

<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{bBTitle.title}</ui:define>
	<h:outputStylesheet library="css" name="groups.css" />

	<ui:define class="content" name="content">
				#{msg.error}
	</ui:define>
</ui:composition>
</html>