<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
    <ui:composition>
        <h1>#{msg.imprintAndTos}</h1>
        <h:link value="#{msg.termsOfService}" outcome="/view/general/termsOfService.xhtml"></h:link>
                <h:link value="#{msg.imprint}" outcome="/view/general/imprint.xhtml">
        </h:link>
        <!--  <h:outputText value="#{bBFooter.imprint}"></h:outputText>
        <h:outputText value="#{bBTermsOfService.termsOfService}"></h:outputText>
-->
    </ui:composition>
</body>
</html>
