<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head></h:head>
<h:body>

	<h:form>
		<h:panelGrid>
			<h:commandButton class="btn btn-primary" value="#{bBHelp.helpButton}" action="#{bBHelp.changeView()}" />

			<h:outputText rendered="#{bBHelp.show}" value="#{bBHelp.help}"></h:outputText>
		</h:panelGrid>
	</h:form>



</h:body>


</html>