<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{bBTitle.title}</ui:define>
	<h:outputStylesheet library="css" name="groups.css"  />
	<ui:define class="content" name="content">
    	 <h1>#{msg.imprint}</h1>
   		 <h:outputText value="#{bBFooter.imprint}"></h:outputText>
	</ui:define>
</ui:composition>
</html>