<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<h:outputStylesheet name="default-style.css" library="css" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet"></link>
	<title><ui:insert name="title"></ui:insert></title>
	<h:outputScript library="js" name="highlight.pack.js" target="head"></h:outputScript>
	<h:outputScript target="head">hljs.initHighlightingOnLoad();</h:outputScript>
</h:head>


<f:view locale="#{bBChangeLanguage.locale}">

	<h:body>
		<div class="wrapper">
			<div class="header-container">
				<div class="header">
					<ui:insert name="header">
						<ui:include src="header.xhtml" />
					</ui:insert>
				</div>
			</div>

			<div class="main-container">
				<div class="sidebar">
					<ui:insert name="sidebar">
						<ui:include src="sidebar.xhtml" />
					</ui:insert>
				</div>
				<div id="content-container" class="content-container">
					<div class="messages" id="messages">
						<ui:insert name="messages">
							<ui:include src="messages.xhtml" />
						</ui:insert>
					</div>

					<div class="content">
						<ui:insert name="content">
							Main content
						</ui:insert>
					</div>
				</div>
			</div>

			<div class="footer-container">
				<div class="footer">
					<ui:insert name="footer">
						<ui:include src="footer.xhtml" />
					</ui:insert>
				</div>
			</div>
		</div>
	</h:body>
</f:view>
</html>