<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition>

	<div class="navbar navbar-inverse " role="navigation">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<h:form id="menubar-form">

					<ul class="nav navbar-nav navbar-left">
						<h:link outcome="/view/home/home">
							<h:graphicImage value="/data?type=systemlogo" width="64px"
								height="64px"></h:graphicImage>
						</h:link>
					</ul>					
					<ul id="navbar" class="nav navbar-nav navbar-right">
						<li><h:commandLink id="profile" value="#{bBMenuBar.userData.user.name}"
								action="#{bBMenuBar.showOwnProfile()}"
								rendered="#{bBMenuBar.userData.isLoggedIn()}">
							</h:commandLink></li>
						<li><h:link value="#{msg.home}" outcome="/view/home/home" /></li>
						<li><h:link value="#{msg.main}" outcome="/view/home/main" /></li>
						<li><h:commandLink id="invite" value="#{msg.invite}"
								action="#{bBMenuBar.invite()}" /></li>

						<ui:fragment
							rendered="#{bBMenuBar.userData.user.role eq 'MODERATOR' or bBMenuBar.userData.user.role eq 'ADMINISTRATOR'}">
							<li><h:link value="#{msg.admin_home}"
									outcome="/view/administration/administrationHome" /></li>
						</ui:fragment>

						<!-- <li><h:link value="Group" outcome="/view/group/group" /></li> -->
						<li><h:commandButton class="btn btn-primary" value="GER" id="button-ger"
								action="#{bBChangeLanguage.setLocaleToGerman()}"
								outcome="#{bBChangeLanguage.currentURL}"></h:commandButton></li>
						<li><h:commandButton class="btn btn-primary" value="ENG" id="button-eng"
								action="#{bBChangeLanguage.setLocaleToEnglish()}"
								outcome="#{bBChangeLanguage.currentURL}"></h:commandButton></li>
						<li id="logout"><h:commandButton id="logout-button"
								class="btn btn-primary" value="Logout"
								action="#{bBMenuBar.logout()}"
								disabled="#{!bBMenuBar.userData.isLoggedIn()}"></h:commandButton></li>

					</ul>
					<ul class="nav navbar-nav navbar-left" id="createbar">
			<!-- 			<li><h:commandLink value="Profile"
								outcome="/view/profile/profile"
								disabled="#{!bBMenuBar.userData.isLoggedIn()}"> -->
								<h:graphicImage value="#{bBMenuBar.getProfilePictureLink()}"
									width="32" height="32" alt="">
								</h:graphicImage>
					<!-- 		</h:commandLink></li> -->
						<li>
							<div id="header-createnew" class="form-inline">
								<h:selectOneMenu id="createnew-dropdown"
									value="#{bBMenuBar.createNewDropDownElement}"
									class="form-control">
									<f:selectItems value="#{bBMenuBar.getUserCreateTypes()}"
										var="item" itemLabel="#{item.getName()}" itemValue="#{item}"></f:selectItems>
								</h:selectOneMenu>
								<h:commandButton id="createnew-button" value="#{msg.create_new}"
									action="#{bBMenuBar.create()}"
									class="form-control btn btn-primary"></h:commandButton>
							</div>
						</li>
						<li>
							<div id="header-search">
								<ui:insert name="search">
									<ui:include src="/view/search/search.xhtml" />
								</ui:insert>
							</div>
						</li>
					</ul>

				</h:form>


			</div>
		</div>
	</div>

</ui:composition>
</html>