<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition>
		<h:outputText id="success" />
		<h:message for="success"></h:message>
		
		<h:form id = "error-message">
		<h:outputText id="error" />
		<h:message for="error"></h:message>
		</h:form>
    </ui:composition>
</html>