<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		>
	<ui:composition>
		<h:panelGroup rendered="#{bBSideBar.userData.isLoggedIn()}">
		<h:form id="bookmark-form">
		<h:commandLink id="bookmarks" value="Bookmarks" action="#{bBSideBar.goToBookmarks()}"></h:commandLink>
		<HR />
		</h:form>
			<h:outputLabel value="#{msg.my_clipboards}"></h:outputLabel>
			<h:dataTable styleClass="table table-striped table-hover table-condensed table-responsive" value="#{bBSideBar.userClipboards.paginatedDataModel}" var="clipboard">
				<h:column>
			    	<f:facet name="header">Title</f:facet>
			    	<h:link value="#{clipboard.title}" outcome="#{clipboard.link}"/>
				</h:column>
				<!-- <h:column>
			    	<f:facet name="header">Description</f:facet>
			    	#{clipboard.description}
				</h:column>
				<h:column>
			    	<f:facet name="header">Creator</f:facet>
			    	#{clipboard.creator.name}
				</h:column>
				<h:column>
			    	<f:facet name="header">CreationDate</f:facet>
			    	#{clipboard.creationDate}
				</h:column> -->
			</h:dataTable>
			
			<ui:include src="/view/paginator/paginator.xhtml">
				<ui:param name="id" value="sidebar-clip-p"/>
    			<ui:param name="paginatorSource" value="#{bBSideBar.userClipboards}" />
    		</ui:include>
    		
    		<hr/>
    		
			<h:outputLabel value="#{msg.my_groups}"></h:outputLabel>
			<h:dataTable styleClass="table table-striped table-hover table-condensed table-responsive" id="sidebar-groups" value="#{bBSideBar.userGroups.paginatedDataModel}" var="group">
				<h:column>
			    	<f:facet name="header">Title</f:facet>
			    	<h:link value="#{group.title}" outcome="#{group.link}"/>
				</h:column>
				<!-- <h:column>
			    	<f:facet name="header">Description</f:facet>
			    	#{group.description}
				</h:column>
				<h:column>
			    	<f:facet name="header">CreationDate</f:facet>
			    	#{group.creationDate}
				</h:column> -->
			</h:dataTable>
			
			<ui:include src="/view/paginator/paginator.xhtml">
				<ui:param name="id" value="sidebar-g-p" />
    			<ui:param name="paginatorSource" value="#{bBSideBar.userGroups}" />
    		</ui:include>
    		
			<!-- <h2>Liste von Bookmarks</h2> -->
		</h:panelGroup>
		<h:panelGroup rendered="#{!bBSideBar.userData.isLoggedIn()}">
			<h:outputText value="#{msg.sidebar_not_logged_in}"></h:outputText>
		</h:panelGroup>
	</ui:composition>
</html>