<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="header">
		<h:link outcome="/view/home/home">
			<h:graphicImage value="/data?type=systemlogo" width="64px"
				height="64px"></h:graphicImage>
		</h:link>
		<h1>#{msg.welcome}</h1>
		<h:form id="login-menubar-form">
			<h:commandButton class="btn btn-primary" value="GER" id="button-ger"
				action="#{bBChangeLanguage.setLocaleToGerman()}"></h:commandButton>
			<h:commandButton class="btn btn-primary" value="ENG" id="button-eng"
				action="#{bBChangeLanguage.setLocaleToEnglish()}"></h:commandButton>
		</h:form>
	</ui:define>

	<ui:define name="content">
		<p>#{msg.home_text}</p>

		<h:form id="anonymous-form">
			<h:commandLink id="anonymous" value="#{msg.continue_as_anonymous}"
				action="#{bBHome.continueAsAnonymous()}" />
			<h:outputLink value="/sep16g01/faces/view/auth/register.xhtml">#{msg.register}</h:outputLink>
		</h:form>

	</ui:define>

	<ui:define name="sidebar">
		<ui:include src="/view/auth/login.xhtml" />
	</ui:define>
</ui:composition>
</html>