<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
		<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h:outputLabel>#{msg.main_clipboards}</h:outputLabel>
		<h:dataTable styleClass="table table-striped table-hover table-condensed table-responsive" value="#{bBMain.clipboards.paginatedDataModel}"
			var="clipboard">
			<h:column>
				<f:facet name="header">#{msg.titel}</f:facet>
				<h:link value="#{clipboard.title}" outcome="#{clipboard.link}"></h:link>
			</h:column>
			<h:column>
				<f:facet name="header">#{msg.description}</f:facet>
			    	#{clipboard.description}
				</h:column>
			<h:column>
				<f:facet name="header">#{msg.creator}</f:facet>
				
				<h:link rendered="#{clipboard.creator!=null}"
                        outcome="#{clipboard.creator.link}" value="#{clipboard.creator.name}"></h:link>
                    <h:outputLabel rendered="#{clipboard.creator==null}"
                        value="#{msg.deleted_User}" />
			</h:column>
			<h:column>
				<f:facet name="header">#{msg.creation_date}</f:facet>
			    	#{clipboard.creationDate}
				</h:column>
		</h:dataTable>

		<ui:include src="/view/paginator/paginator.xhtml">
			<ui:param name="id" value="main-clip-p"/>
			<ui:param name="paginatorSource" value="#{bBMain.clipboards}" />
		</ui:include>
		
		<ui:insert name="help">
            <ui:include src="/view/general/help.xhtml" />
        </ui:insert>
	</ui:define>
</ui:composition>
</html>