<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>
	<ui:define name="content">
		<div class="col-md-6">
			<label for="clipboard"><h:outputText
					value="#{msg.clipboard_name}:"></h:outputText></label>

			<div id="clipboardPagination">
				<div id="bookmarkedClipbords">
					<h:dataTable
						styleClass="table table-striped table-hover table-condensed table-responsive"
						value="#{bBBookmark.clipboards.paginatedDataModel}"
						var="clipboard">
						<h:column>
							<f:facet name="header">#{msg.title}</f:facet>
							<h:link value="#{clipboard.title}" outcome="#{clipboard.link}"></h:link>
						</h:column>
						<h:column>
							<f:facet name="header">#{msg.description}</f:facet>
                        #{clipboard.description}
                    </h:column>
						<h:column>
							<f:facet name="header">#{msg.creator}</f:facet>
							<h:link value="#{clipboard.creator.name}"
								outcome="#{clipboard.creator.link}">
							</h:link>
						</h:column>
						<h:column>
							<f:facet name="header">#{msg.exp_date}</f:facet>
							<h:outputText value="#{clipboard.expirationDate}">
							</h:outputText>
						</h:column>
					</h:dataTable>

					<ui:include src="/view/paginator/paginator.xhtml">
						<ui:param name="id" value="bookmark-clip-p" />
						<ui:param name="paginatorSource" value="#{bBBookmark.clipboards}" />
					</ui:include>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<label for="paste"><h:outputText value="#{msg.paste_name}:"></h:outputText></label>

			<div id="pastePagination">
				<div id="bookmarkedPastes">
					<h:dataTable
						styleClass="table table-striped table-hover table-condensed table-responsive"
						value="#{bBBookmark.pastes.paginatedDataModel}" var="paste">
						<h:column>
							<f:facet name="header">#{msg.title}</f:facet>
							<h:link value="#{paste.title}" outcome="#{paste.link}"></h:link>
						</h:column>
						<h:column>
							<f:facet name="header">#{msg.description}</f:facet>
                        #{paste.description}
                    </h:column>
						<h:column>
							<f:facet name="header">#{msg.creator}</f:facet>
                        #{paste.creator.name}
                    </h:column>
						<h:column>
							<f:facet name="header">#{msg.exp_date}</f:facet>
							<h:outputText value="#{paste.expirationDate}">
							</h:outputText>
						</h:column>
					</h:dataTable>

					<ui:include src="/view/paginator/paginator.xhtml">
						<ui:param name="id" value="bookmark-paste-p" />
						<ui:param name="paginatorSource" value="#{bBBookmark.pastes}" />
					</ui:include>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>