<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h2>#{msg.edit_profile}</h2>
		<h:form id="profileEdit-form" enctype="multipart/form-data">

			<h:panelGrid>
				<div class="row">
					<h:commandButton class="btn btn-primary pull-right" id="delete"
						value="#{msg.delete_profile}"
						action="#{bBEditProfile.deleteUser()}" />
					<h:graphicImage value="#{bBEditProfile.getProfilePictureLink()}"
						class="profile-picture"></h:graphicImage>
					<h:outputLabel value="#{msg.profile_picture}" />
					<h:inputFile id="picture" value="#{bBEditProfile.profilePicture}"></h:inputFile>
				</div>

				<HR />
				<h2>#{msg.edit_email}</h2>
				<h:outputLabel value="#{msg.email}" />

				<h:message for="email"></h:message>
				<h:inputText id="email" value="#{bBEditEmail.email}">
					<f:validator validatorId="sep16g01.EmailValidator"></f:validator>
					<f:validator validatorId="sep16g01.EmailConfirmationValidator" />
					<f:attribute name="confirmEmail" value="#{confirmEmail}" />
				</h:inputText>

				<h:outputLabel value="#{msg.repeat_email}" />
				<h:message for="emailRepeat"></h:message>
				<h:inputText id="emailRepeat" value="#{bBEditEmail.emailRepeat}"
					binding="#{confirmEmail}">
				</h:inputText>

				<HR />

				<h2>#{msg.profile_keywords}</h2>
				<h:inputTextarea id="keywords" value="#{bBEditProfile.keywords}"
					style="width:auto;" />

				<HR />
				<ui:insert name="changePassword">
					<ui:include src="/view/auth/changePassword.xhtml" />
				</ui:insert>

				<HR />
				<h:commandButton id="save" class="btn btn-primary"
					value="#{msg.save}" action="#{bBEditProfile.save}">
					<f:actionListener binding="#{bBEditEmail.save()}" />
					<f:actionListener binding="#{bBEditProfile.storeKeywords()}" />
					<f:actionListener binding="#{bBChangePassword.saveVoid()}" />
				</h:commandButton>

				<HR />


			</h:panelGrid>

		</h:form>
		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
</html>