<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">Profile</ui:define>

	<ui:define name="content">
		<h2>#{msg.profile}</h2>

		<h:form>
			<h:graphicImage class="profile-picture"
				value="#{bBProfile.uploadProfilePicture()}"></h:graphicImage>
		</h:form>

		<p>
		<div class="row">
			<div class="col-md-2">#{msg.name}:</div>
			<div class="col-md-10">
				<h:outputText value="#{bBProfile.user.name}" />
			</div>
		</div>
		</p>

		<p>
		<div class="row">
			<div class="col-md-2">#{msg.role}:</div>
			<div class="col-md-10">
				<h:outputText value="#{bBProfile.user.role.getName()}" />
			</div>
		</div>
		</p>

		<h:form id="role-form">
			<ui:fragment
				rendered="#{!bBProfile.onOwnProfile and bBProfile.isAdmin()}">
				<div id="header-roles" class="form-inline">
					<h:outputLabel>#{msg.role_change}</h:outputLabel>
					<h:selectOneMenu id="role-select"
						value="#{bBProfile.createNewDropDownElement}" class="form-control">
						<f:selectItems value="#{bBProfile.getUserRoleTypes()}" var="item"
							itemLabel="#{item.getName()}" itemValue="#{item}"></f:selectItems>
					</h:selectOneMenu>
					<h:commandButton id="confirm-role" value="change"
						action="#{bBProfile.changeUserRole}"
						class="form-control btn btn-primary"></h:commandButton>
				</div>
			</ui:fragment>
		</h:form>
		<p>
		<div class="row">
			<div class="col-md-2">
				<h:outputText rendered="#{bBProfile.onOwnProfile}"
					value="#{msg.email}: " />
			</div>
			<div class="col-md-10">
				<h:outputText rendered="#{bBProfile.onOwnProfile}"
					value="#{bBProfile.user.email}" />
			</div>
		</div>
		</p>

		<p>
		<div class="row">
			<div class="col-md-2">#{msg.registration_date}:</div>
			<div class="col-md-10">
				<h:outputText value="#{bBProfile.user.registrationDate}" />
			</div>
		</div>
		</p>

		<p>
		<div class="row">
			<div class="col-md-2">
				<h:outputText rendered="#{bBProfile.onOwnProfile}"
					value="#{msg.free_capacity}:" />
			</div>
			<div class="col-md-10">
				<h:outputText rendered="#{bBProfile.onOwnProfile}"
					value="#{bBProfile.user.freeCapacity} KB" />
			</div>
		</div>
		</p>

		<h:form id="edit-form">
			<h:commandButton id="edit" rendered="#{bBProfile.onOwnProfile}"
				class="btn btn-primary" value="Edit" action="#{bBProfile.edit}"></h:commandButton>
		</h:form>

		<h:form id="delete-form">
			<h:commandButton id="delete"
				rendered="#{bBProfile.userData.user.role.priority == 4 and not bBProfile.deleteConfirm and bBProfile.user.role != ADMINISTRATOR}"
				class="btn btn-primary" value="#{msg.admin_delete_profile}"
				action="#{bBProfile.deleteProfile(false)}"></h:commandButton>
			<h:commandButton id="delete-confirm"
				rendered="#{bBProfile.userData.user.role.priority == 4 and bBProfile.deleteConfirm and bBProfile.user.role != ADMINISTRATOR}"
				class="btn btn-primary" value="#{msg.admin_delete_profile_confirm}"
				action="#{bBProfile.deleteProfile(true)}"></h:commandButton>
		</h:form>
		<HR />

		<ui:insert name="commentList">
			<ui:include src="/view/comment/commentList.xhtml" />
		</ui:insert>


		<HR />


		<ui:insert name="help">
			<ui:include src="/view/general/help.xhtml" />
		</ui:insert>



	</ui:define>

</ui:composition>
</html>