table {
	width: 100%;
}

th {
	color:white;
	background-color: #010101;
	padding: 4px 4px 4px 4px;
	border: 1px solid;
}

td {
	padding: 0px 5px 0px 5px;
}

tr.odd {
	background-color: white;
}

tr.even {
	background-color: grey;
}

li {
	color:black;
	font-size:15px;
}

.message {
	color: red;
}

a {
	padding: 0px 5px 0px 5px;
}

.wrapper {
	display: block;
}

.header,
.footer  {
	width: 100%;
	padding: 10px;
}


.header-container {
	display: block;
}

.main-container {
	display: flex;
}

.content-container {

}

.content,
.body {
	margin: 0 auto
}

.header {
	background-color: orange;
	color:black;
}

.main {
	background-color: grey;
}

.messages {
	background-color: #C0D2CE;
}

.content {
	background-color: white;
	color:black;
	display:block;
	float:left;
}

.sidebar {
	padding:11px;
	background-color: #C0D2CE;
	font-size:20px;
	color:black;
	display: block;
	float: left;
}

.footer {
	padding:11px;
	display: block;
	float: left;
	background-color: black;
	color: white;
	background-color: black;
}

#log-box {
	overflow: scroll;
	width:auto;
	height:800px;
}

.desc-label, .desc-label-paste {
	font-size:20px;
	color:dark-grey;
	margin-right:10px;
}


.desc-desc {
	font-size:15px;
}

.content {
	padding:11px;
	width:100%;
	height:auto;
}

.content-container {
	width:100%;
	height:auto;
	font-size:20px;
}

body {
	min-height:100%;
}

.btn-primary {
	background-color:black !important;
	border-color:lightgrey !important;
	margin:2px;
	margin-right:12px;
}

textarea {
	background-color:#CBEBE8!important;
	width:100%;
	resize:none;
}

.createbar {
	margin: 0 auto;
}

.invite-area-msg {
	width:500px;
	height:200px;
	resize:none;
}

.invite-area-rec, .paste-content {
	min-width:500px;
	min-height:90px;
}

@font-face {
    font-family: 'Shallowgrave';
    src: url('shallowgrave-bb.regular.ttf');
    src: url('shallowgrave-bb.regular.ttf?#iefix') format('embedded-opentype'),
         url('shallowgrave-bb.regular.ttf') format('tff'),
         url('shallowgrave-bb.regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

.profile-picture {
	max-width:300px;
	max-height:300px;
}

.desc-label-float {
	font-size:20px;
	color:dark-grey;
	margin-right:10px;
	float:left;
}

input {
	display:block;
}

.checkbox {
	float:left;
	margin-right:20px!important;
}

.form-control.width {
	width:auto;
}