<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:viewParam name="pasteid" />

<ui:composition template="/view/general/layout.xhtml">
	<ui:define name="title">#{bBTitle.title}</ui:define>

	<ui:define name="content">
		<h2>#{msg.create_paste}</h2>
		<h:messages>
		</h:messages>
		<h:body>
			<h:form id="createpaste-form" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-2">
						<h:outputText id="showTitle" value="#{msg.title}"></h:outputText>
					</div>
					<div class="col-md-10">
						<h:inputText id="title" value="#{bBCreatePaste.paste.title}" required="true">
							<f:validateLength minimum="1" maximum="64" />
						</h:inputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h:outputText id="showDescription" value="#{msg.description}"></h:outputText>
					</div>
					<div class="col-md-10">
						<h:inputText id="description"
							value="#{bBCreatePaste.paste.description}" required="true">
							<f:validateLength minimum="1" maximum="512" />
						</h:inputText>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<h:outputText id="showFile" value="#{msg.uploadFile}"></h:outputText>
					</div>
					<div class="col-md-8">
						<h:inputFile class="btn btn-primary" id="newFile"
							value="#{bBCreatePaste.newFile}"
							rendered="#{bBCreatePaste.checkWrite()}"></h:inputFile>
					</div>
					<div class="col-md-2">
						<h:commandButton class="btn btn-primary pull-right"
							value="#{msg.uploadFile}" action="#{bBCreatePaste.upload()}"
							rendered="#{bBCreatePaste.checkWrite()}"></h:commandButton>
					</div>
				</div>



				<ui:fragment rendered="#{bBCreatePaste.paste.id eq -1}">
					<div>
						<label for="expires"><h:outputText value="#{msg.expires}:"></h:outputText></label>

						<h:inputText id="expires" value="#{bBCreatePaste.expirestring}"
							class="form-control">
							<f:validator validatorId="sep16g01.TimeSpanValidator"></f:validator>
						</h:inputText>
						<div>#{msg.timespan_example}</div>
					</div>
				</ui:fragment>

				<div>
					<label for="content"><h:outputText value="#{msg.content}:"></h:outputText></label>
					<h:outputText id="contentChanged"
						value="#{bBCreatePaste.changedPaste.content}"
						rendered="#{bBCreatePaste.contentChanged()}"></h:outputText>

					<h:inputTextarea id="content"
						value="#{bBCreatePaste.paste.content}">
						<f:validateLength maximum="65535" />
					</h:inputTextarea>

				</div>
				<ui:fragment rendered="#{bBCreatePaste.paste.clipboardId eq -1}">
					<label for="clipboard-id"><h:outputText
							value="#{msg.clipboard}:"></h:outputText></label>
					<h:inputText id="clipboard-id" value="#{bBCreatePaste.clipboardId}"
						size="20" required="false" label="Amount">
						<f:convertNumber minFractionDigits="0" />
					</h:inputText>
				</ui:fragment>


				<ui:repeat var="file" value="#{bBCreatePaste.paste.files}">
					<h:dataTable>
						<h:column>

							<div>

								<h1>#{file.filename}</h1>
								<h:link value=""></h:link>
								<h:commandButton class="btn btn-primary" id="downloadFile"
									value="#{msg.downloadFile}"
									action="#{bBCreatePaste.downloadFile(file)}"></h:commandButton>
							</div>
						</h:column>
					</h:dataTable>
				</ui:repeat>


				<!-- /data/?type=pastefile&id= <fileId> -->
				<h:commandButton class="btn btn-primary" id="save"
					value="#{msg.save_paste}" action="#{bBCreatePaste.save(false)}"
					rendered="#{!bBPaste.changeBeforeSave}"></h:commandButton>
				<h:commandButton class="btn btn-primary"
					rendered="#{bBCreatePaste.changeBeforeSave}" id="Override"
					value="#{msg.override}" action="#{bBCreatePaste.save(true)}"></h:commandButton>
				<h:commandButton rendered="#{!bBCreatePaste.letDelete}"
					class="btn btn-primary" id="delete" value="#{msg.delete}"
					action="#{bBCreatePaste.delete(false)}"></h:commandButton>
				<h:commandButton rendered="#{bBCreatePaste.letDelete}"
					class="btn btn-primary" id="delete-confirm"
					value="#{msg.paste_delete_confirm}"
					action="#{bBCreatePaste.delete(true)}"></h:commandButton>

				<HR />

				<ui:fragment rendered="#{bBCreatePaste.paste.id ne -1}">
					<div class="row">
						<div class="col-md-12">
							<h:outputText id="moveToClip" value="#{msg.movePaste}"
								rendered="#{bBCreatePaste.checkWrite()}"></h:outputText>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<h:inputText id="clipId" value="#{bBCreatePaste.newClipId}"
								rendered="#{bBCreatePaste.checkWrite()}"></h:inputText>
						</div>
						<div class="col-md-10">
							<h:commandButton class="btn btn-primary" id="move"
								value="#{msg.move}" action="#{bBCreatePaste.move()}"
								rendered="#{bBCreatePaste.checkWrite()}"></h:commandButton>
						</div>
					</div>
				</ui:fragment>

				<HR />
				<ui:fragment
					rendered="#{not bBRegister.TEST_MODE and !bBCreatePaste.userData.isLoggedIn()}">
					<p:captcha label="Captcha" />
				</ui:fragment>
				<h:dataTable value="#{bBPaste.pastemodel}" var="file">
					<h:column>
						<f:facet name="header">#{msg.name} </f:facet>
						<h:commandLink id="downloadFile"
							action="#{bBPaste.downloadFile()}">#{file.getFilename()}</h:commandLink>
					</h:column>
					<h:column>
						<h:commandButton class="btn btn-primary pull-right" id="delete"
							value="#{msg.delete}" action="#{bBPaste.deleteFile(file)}"></h:commandButton>
					</h:column>
				</h:dataTable>

			</h:form>

			<ui:insert name="help">
				<ui:include src="/view/general/help.xhtml" />
			</ui:insert>
		</h:body>
	</ui:define>
</ui:composition>
</html>