<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<ui:composition template="/view/general/layout.xhtml">
	<f:viewParam name="pasteid" />

	<ui:define name="title">Paste</ui:define>
	<ui:define name="content">
		<ui:fragment rendered="#{bBPaste.paste eq null}">
		#{msg.no_paste}
	</ui:fragment>
		<ui:fragment rendered="#{bBPaste.paste ne null}">
			<h:form id="paste-form" enctype="multipart/form-data">

				<h:commandButton class="btn btn-primary" id="bookmark"
					value="bookmark" action="#{bBPaste.bookmark()}"
					rendered="#{!bBPaste.isBookmarked() and bBCreatePaste.userData.isLoggedIn()}"></h:commandButton>
				<h:commandButton class="btn btn-primary" id="unbookmark"
					value="unbookmark" action="#{bBPaste.bookmark()}"
					rendered="#{bBPaste.isBookmarked() and bBCreatePaste.userData.isLoggedIn()}"></h:commandButton>

				<div class="row">
					<div class="col-md-4">
						<h1>
							<h:outputLabel id="showTitle" value="#{msg.title}:"></h:outputLabel>
						</h1>
					</div>
					<div class="col-md-6">
						<h1>
							<h:outputText id="title" value="#{bBPaste.paste.title}"></h:outputText>
						</h1>
					</div>
					<div class="col-md-2">
						<h4 class="text-right">
							#{msg.createdby}
							<h:link value="#{bBPaste.paste.creator.name}"
								outcome="#{bBPaste.paste.creator.link}"></h:link>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h:outputLabel id="showDescription" value="#{msg.description}:"></h:outputLabel>
					</div>
					<div class="col-md-8">
						<p>
							<h:outputText id="description"
								value="#{bBPaste.paste.description}"></h:outputText>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<h:outputLabel class="desc-label" id="expires"
							value="#{msg.expires}:">
						</h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText class="desc-desc" id="expDate"
							value="#{bBPaste.paste.expirationDate}">
						</h:outputText>
					</div>
				</div>
				<div id="paste-clipboard" class="row">
					<div class="col-md-2">
						<h:outputLabel class="desc-label" id="show-clipboard-id"
							value="#{msg.clipboard}:"></h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:link id="clipboard-link"
							outcome="#{bBPaste.clipboard.getLink()}"
							value="#{bBPaste.clipboard.title}"></h:link>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<h:outputLabel class="desc-label" id="showCreatoionDate"
							value="#{msg.creation_date}:"></h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText class="desc-desc" id="creationDate"
							value="#{bBPaste.paste.creationDate}">
						</h:outputText>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<h:outputLabel class="desc-label" id="showModDate"
							value="#{msg.modification_date}:"></h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText class="desc-desc" id="modDate"
							value="#{bBPaste.paste.lastModifiedDate}">
						</h:outputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<h:commandButton class="btn btn-primary" id="edit"
							value="#{msg.edit}" action="#{bBPaste.edit()}"
							rendered="#{bBPaste.checkWrite()}"></h:commandButton>
						<h:commandButton
							rendered="#{!bBPaste.letDelete and bBPaste.checkWrite()}"
							class="btn btn-primary" id="delete" value="#{msg.delete}"
							action="#{bBPaste.delete(false)}"></h:commandButton>
						<h:commandButton rendered="#{bBPaste.letDelete}"
							class="btn btn-primary" id="delete-confirm"
							value="#{msg.paste_delete_confirm}"
							action="#{bBPaste.delete(true)}"></h:commandButton>
					</div>
					<div class="col-md-4">
						<ui:fragment
							rendered="#{bBPaste.paste.creator.id eq bBPaste.userData.user.id}">
							<h:outputLabel class="checkbox-label pull-right"
								value="#{msg.paste_notify}" for="checkbox" />
							<h:selectBooleanCheckbox value="#{bBPaste.paste.notify}"
								class="checkbox pull-right" id="checkbox" />
						</ui:fragment>
					</div>
				</div>


				<HR />
				<ui:fragment rendered="#{bBPaste.changeBeforeSave}">
					<div class="col-md-2">
						<h:outputLabel class="desc-label" id="showChangedContent"
							value="#{msg.changedContent}:"></h:outputLabel>
					</div>
					<div class="col-md-10">
						<h:outputText class="desc-desc" id="contentChanged"
							value="#{bBPaste.changedPaste.content}"></h:outputText>
					</div>
				</ui:fragment>

				<div>
					<h:outputLabel class="desc-label-float" id="showContent"
						value="#{msg.content}:"></h:outputLabel>
					<h:outputText class="paste-content" id="content-no-permission"
						value="#{bBPaste.paste.content}"
						rendered="#{!bBCreatePaste.checkWrite()}"></h:outputText>
					<h:inputTextarea class="paste-content" id="content"
						value="#{bBPaste.paste.content}"
						rendered="#{bBCreatePaste.checkWrite()}">
						<f:validateLength maximum="65536" />
					</h:inputTextarea>
				</div>
				<h:commandButton class="btn btn-primary" id="save"
					value="#{msg.save_paste}" action="#{bBPaste.save(false)}"
					rendered="#{!bBPaste.changeBeforeSave and bBPaste.checkWrite()}"></h:commandButton>
				<h:commandButton class="btn btn-primary"
					rendered="#{bBPaste.changeBeforeSave}" id="Override"
					value="#{msg.override}" action="#{bBPaste.save(true)}"></h:commandButton>

				<h:commandButton class="btn btn-primary" id="downloadText"
					value="#{msg.text}" action="#{bBPaste.downloadTxt()}"></h:commandButton>

				<HR />

				<div class="row">
					<div class="col-md-2">
						<h:outputText id="showFile" value="#{msg.uploadFile}:"
							rendered="#{bBCreatePaste.checkWrite()}"></h:outputText>
					</div>
					<div class="col-md-8">
						<h:inputFile class="btn btn-primary" id="newFile"
							value="#{bBPaste.newFile}"
							rendered="#{bBCreatePaste.checkWrite()}"></h:inputFile>
					</div>
					<div class="col-md-2">
						<h:commandButton class="btn btn-primary pull-right"
							value="#{msg.uploadFile}" action="#{bBPaste.upload()}"
							rendered="#{bBCreatePaste.checkWrite()}">
						</h:commandButton>
					</div>
				</div>
				<HR />

				<h:outputLabel value="#{msg.files}"></h:outputLabel>
				<h:dataTable value="#{bBPaste.pastemodel}" var="file"
					styleClass="table table-striped table-hover table-condensed table-responsive"
					id="table-files">
					<h:column>
						<f:facet name="header">#{msg.name} </f:facet>
						<h:commandLink id="downloadFile"
							action="#{bBPaste.downloadFile()}">#{file.getFilename()}</h:commandLink>
					</h:column>
					<h:column>
						<h:commandButton class="btn btn-primary" id="delete-file"
							value="#{msg.delete}" action="#{bBPaste.deleteFile(file)}"
							rendered="#{bBPaste.checkWrite()}"></h:commandButton>
					</h:column>
				</h:dataTable>

				<HR />
			</h:form>
			<ui:insert name="commentList">
				<ui:include src="/view/comment/commentList.xhtml" />
			</ui:insert>

			<HR />

			<ui:insert name="help">
				<ui:include src="/view/general/help.xhtml" />
			</ui:insert>
		</ui:fragment>
	</ui:define>


</ui:composition>
</html>